<center>
<button class="btn btn-primary  btn-sm" type="button" data-toggle="modal"
    data-target="#addUserModal">Add User
</button>
  </center>


    <div class="modal fade" id="addUserModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">x</button>
            <h4 class="modal-title">Add User</h4>
          </div>
          <div class="modal-body">


    <form  action="{selfurl}" method="get">

        <input class="form-control" type="hidden" name="student" value="{id}">
        <input class="form-control" name="userlist" type="hidden" value="{userlist}">


        <div class="form-group">
        <label class="control-label" for="Username">Username</label>
        <input class="form-control" type="text" name="Username">
        </div>

        <div class="form-group"><label class="control-label" for="Password">Password</label>
        <input class="form-control" type="text" name="Password">
        </div>

        <div class="form-group"><label class="control-label" for="Surname">Surname</label>
        <input class="form-control" type="text" name="Surname">
        </div>

        <div class="form-group">
        <label class="control-label" for="Name">Name</label><input class="form-control" type="text" name="Name">
        </div>


        <button  type="submit" class="btn btn-default">Add</button>
    </form>


          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>