

<div class="col-md-12">

    <div class="col-md-6">
        {user_data}
    </div>
    <div class="col-md-3">

        </div>

    <div class="col-md-1">

        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#{modal_user_item}">info</button>
<div id="{modal_user_item}" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header"><button class="close" type="button" data-dismiss="modal">x</button>
<h4 class="modal-title">{username}</h4>
</div>
<div class="modal-body">

    {user_info_form}

</div>

<div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Close</button></div>
</div>
</div>
</div>

    </div>

    <div class="col-md-1">


        {user_edit_form}

    </div>

    <div class="col-md-1">
        <a href="{href_del}"><i class="-square fa fa-2x fa-fw fa-times-circle pull-right"></i></a>

    </div>


    </div>


