<form role="form">

    <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Username</label>
                <input class="form-control" id="exampleInputEmail1"
                placeholder="{username}" type="text" disabled="disabled">
              </div>

    <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Hash</label>
                <input class="form-control" id="exampleInputPassword1"
                placeholder="{hash}" type="text" disabled="disabled">
              </div>

    <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Date Create</label>
                <input class="form-control" id="exampleInputPassword1"
                placeholder="{date}" type="text" disabled="disabled">
              </div>

    <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Date edit</label>
                <input class="form-control" id="exampleInputPassword1"
                placeholder="{date_edit}" type="text" disabled="disabled">
              </div>

    <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Surname</label>
                <input class="form-control" id="exampleInputPassword1"
                placeholder="{surname}" type="text" disabled="disabled">
              </div>

    <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Name</label>
                <input class="form-control" id="exampleInputPassword1"
                placeholder="{name}" type="text" disabled="disabled">
              </div>

            </form>


